# FMUs, SSPs, input files, result files and report files
*.fmu
*.ssp
*.csv
*.sdf
*.html

# compiled files
*.py[cod]

# build artifacts
build/
dist/
MANIFEST
*.egg-info

# PyCharm project
.idea/

# file-based project format
*.iws
